@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bemvindo a Minha AV1</h1>
    <h2>Guilherme Santana Pires do Nascimento</h2>
    <h2>RA: 922100145</h2>
</div>
